In [1]:
from fastai.vision import *
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
img_df = pd.read_csv('../skin_cancer_dataset/ISIC2018_Task3_Training_GroundTruth/ISIC2018_Task3_Training_GroundTruth.csv')

In [3]:
print(img_df)

              image  MEL   NV  BCC  AKIEC  BKL   DF  VASC
0      ISIC_0024306  0.0  1.0  0.0    0.0  0.0  0.0   0.0
1      ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
2      ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3      ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4      ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0
5      ISIC_0024311  0.0  1.0  0.0    0.0  0.0  0.0   0.0
6      ISIC_0024312  0.0  0.0  0.0    0.0  1.0  0.0   0.0
7      ISIC_0024313  1.0  0.0  0.0    0.0  0.0  0.0   0.0
8      ISIC_0024314  0.0  1.0  0.0    0.0  0.0  0.0   0.0
9      ISIC_0024315  1.0  0.0  0.0    0.0  0.0  0.0   0.0
10     ISIC_0024316  0.0  1.0  0.0    0.0  0.0  0.0   0.0
11     ISIC_0024317  0.0  1.0  0.0    0.0  0.0  0.0   0.0
12     ISIC_0024318  0.0  0.0  0.0    0.0  0.0  1.0   0.0
13     ISIC_0024319  0.0  1.0  0.0    0.0  0.0  0.0   0.0
14     ISIC_0024320  0.0  1.0  0.0    0.0  0.0  0.0   0.0
15     ISIC_0024321  0.0  1.0  0.0    0.0  0.0  0.0   0.0
16     ISIC_0024322  0.0  1.0  0.0    0.0  0.0  0.0   0.0
17     ISIC_0024323  1.0  0.0  0.0    0.0  0.0  0.0   0.0
18     ISIC_0024324  0.0  0.0  0.0    0.0  1.0  0.0   0.0
19     ISIC_0024325  0.0  1.0  0.0    0.0  0.0  0.0   0.0
20     ISIC_0024326  0.0  1.0  0.0    0.0  0.0  0.0   0.0
21     ISIC_0024327  0.0  1.0  0.0    0.0  0.0  0.0   0.0
22     ISIC_0024328  0.0  1.0  0.0    0.0  0.0  0.0   0.0
23     ISIC_0024329  0.0  0.0  0.0    1.0  0.0  0.0   0.0
24     ISIC_0024330  0.0  0.0  0.0    0.0  0.0  1.0   0.0
25     ISIC_0024331  0.0  0.0  1.0    0.0  0.0  0.0   0.0
26     ISIC_0024332  0.0  0.0  1.0    0.0  0.0  0.0   0.0
27     ISIC_0024333  1.0  0.0  0.0    0.0  0.0  0.0   0.0
28     ISIC_0024334  0.0  1.0  0.0    0.0  0.0  0.0   0.0
29     ISIC_0024335  0.0  1.0  0.0    0.0  0.0  0.0   0.0
...             ...  ...  ...  ...    ...  ...  ...   ...
9985   ISIC_0034291  0.0  0.0  0.0    0.0  1.0  0.0   0.0
9986   ISIC_0034292  0.0  1.0  0.0    0.0  0.0  0.0   0.0
9987   ISIC_0034293  0.0  1.0  0.0    0.0  0.0  0.0   0.0
9988   ISIC_0034294  1.0  0.0  0.0    0.0  0.0  0.0   0.0
9989   ISIC_0034295  0.0  1.0  0.0    0.0  0.0  0.0   0.0
9990   ISIC_0034296  0.0  0.0  0.0    0.0  1.0  0.0   0.0
9991   ISIC_0034297  0.0  1.0  0.0    0.0  0.0  0.0   0.0
9992   ISIC_0034298  0.0  1.0  0.0    0.0  0.0  0.0   0.0
9993   ISIC_0034299  0.0  0.0  1.0    0.0  0.0  0.0   0.0
9994   ISIC_0034300  0.0  1.0  0.0    0.0  0.0  0.0   0.0
9995   ISIC_0034301  0.0  1.0  0.0    0.0  0.0  0.0   0.0
9996   ISIC_0034302  0.0  1.0  0.0    0.0  0.0  0.0   0.0
9997   ISIC_0034303  0.0  0.0  0.0    0.0  1.0  0.0   0.0
9998   ISIC_0034304  0.0  1.0  0.0    0.0  0.0  0.0   0.0
9999   ISIC_0034305  0.0  1.0  0.0    0.0  0.0  0.0   0.0
10000  ISIC_0034306  0.0  0.0  1.0    0.0  0.0  0.0   0.0
10001  ISIC_0034307  0.0  1.0  0.0    0.0  0.0  0.0   0.0
10002  ISIC_0034308  0.0  1.0  0.0    0.0  0.0  0.0   0.0
10003  ISIC_0034309  0.0  1.0  0.0    0.0  0.0  0.0   0.0
10004  ISIC_0034310  0.0  1.0  0.0    0.0  0.0  0.0   0.0
10005  ISIC_0034311  0.0  1.0  0.0    0.0  0.0  0.0   0.0
10006  ISIC_0034312  0.0  1.0  0.0    0.0  0.0  0.0   0.0
10007  ISIC_0034313  1.0  0.0  0.0    0.0  0.0  0.0   0.0
10008  ISIC_0034314  0.0  1.0  0.0    0.0  0.0  0.0   0.0
10009  ISIC_0034315  0.0  0.0  0.0    0.0  1.0  0.0   0.0
10010  ISIC_0034316  1.0  0.0  0.0    0.0  0.0  0.0   0.0
10011  ISIC_0034317  1.0  0.0  0.0    0.0  0.0  0.0   0.0
10012  ISIC_0034318  0.0  0.0  0.0    0.0  1.0  0.0   0.0
10013  ISIC_0034319  0.0  1.0  0.0    0.0  0.0  0.0   0.0
10014  ISIC_0034320  0.0  1.0  0.0    0.0  0.0  0.0   0.0

[10015 rows x 8 columns]

In [4]:
index2label = {
    0: 'MEL',
    1: 'NV',
    2: 'BCC',
    3: 'AKIEC',
    4: 'BKL',
    5: 'DF',
    6:'VASC',
}

In [5]:
label2index = {
    'MEL': 0,
    'NV': 1 ,
    'BCC':2,
    'AKIEC':3,
    'BKL':4,
    'DF':5,
    'VASC':6,
}

In [6]:
PATH = '/Desktop/notebooks/mustafa/skin_cancer_dataset'
file_names = img_df[['image']].values

In [7]:
label_df = img_df.drop(['image'], axis=1)

In [8]:
label_df.head()

   MEL   NV  BCC  AKIEC  BKL   DF  VASC
0  0.0  1.0  0.0    0.0  0.0  0.0   0.0
1  0.0  1.0  0.0    0.0  0.0  0.0   0.0
2  0.0  1.0  0.0    0.0  0.0  0.0   0.0
3  0.0  1.0  0.0    0.0  0.0  0.0   0.0
4  1.0  0.0  0.0    0.0  0.0  0.0   0.0

In [9]:
labels = []
for i in range(len(file_names)):
    labels.append(label_df.iloc[i].argmax(axis=0))

/home/nova/anaconda3/envs/khas_ccip_env/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
img_df['labels'] = labels

In [11]:
img_df.head()

          image  MEL   NV  BCC  AKIEC  BKL   DF  VASC labels
0  ISIC_0024306  0.0  1.0  0.0    0.0  0.0  0.0   0.0     NV
1  ISIC_0024307  0.0  1.0  0.0    0.0  0.0  0.0   0.0     NV
2  ISIC_0024308  0.0  1.0  0.0    0.0  0.0  0.0   0.0     NV
3  ISIC_0024309  0.0  1.0  0.0    0.0  0.0  0.0   0.0     NV
4  ISIC_0024310  1.0  0.0  0.0    0.0  0.0  0.0   0.0    MEL

In [12]:
import cv2

In [ ]:
cv2.imread()